asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
colorama==0.4.6
Django==6.0.5
djangorestframework==3.17.1
drf-yasg==1.21.15
idna==3.17
inflection==0.5.1
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
pytest-django==4.12.0
python-decouple==3.8
pytz==2026.2
PyYAML==6.0.3
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0
